<section ng-controller="MainController as main">
    <div class="jumbotron">
    	<div class="row">
        	<div class="col-sm-4 col-md-4 col-lg-4">
        	   <img ng-src="img/{{ main.image }}" />
          </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <h1>{{ main.header }}</h1>
              <p class="lead">{{ main.caption }}</p>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-4" ng-repeat="main in main.section">
          <h2>{{ main.title }}</h2>
          <p>{{ main.description }}</p>
        </div>
      </div>
</section>