<section ng-controller="ServicesController as main">
  <div>
    <ul>
      <li ng-repeat="mains in main.offers">
        {{ mains.title }}
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2>Services</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>

      <div class="row service">
        <div class="col-md-2">
          <img src="../img/computer-icon.png" />
        </div>
        <div class="col-md-10">
          <h3>Hardware Repair</h3>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <a href="contact.html" class="btn btn-primary">Contact</a>
        </div>
          </div>
          <div class="row service">
            <div class="col-md-2">
              <img src="../img/computer-icon.png" />
            </div>
            <div class="col-md-10">
            <h3>Hardware Repair</h3>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <a href="contact.html" class="btn btn-primary">Contact</a>
            </div>
          </div>
          <div class="row service">
            <div class="col-md-2">
              <img src="../img/computer-icon.png" />
            </div>
            <div class="col-md-10">
            <h3>Hardware Repair</h3>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <a href="contact.html" class="btn btn-primary">Contact</a>
            </div>
          </div>
        </div>
      </div>
</section>
